page-home {

.home-container {
    display: block;
    /* Large screens ----------- */
    @media only screen and (min-width: 768px) {
        .chart-div {
            width: 50%;
            height: 250px;
            padding: 20px;
            display: inline-block;
            float: left;
        }
        .home-table {
            height: 450px;
            width: 49%;
            padding: 20px;
            display: inline-block;
        }
    }
    @media only screen and (min-width: 0px) and (max-width:767px) {
        .chart-div {
            width: 100%;
            padding: 20px;
            float: left;
        }
        .home-table {
            height: 450px;
            width: 100%;
            padding: 20px;
            float: left;
        }
    }
    .coffee-count {
        position: absolute;
        top: 15%;
        left: 15%;
        font-size: large;
    }
}
}