page-meetings {
    .inline-images {
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0 5px;
    }
    .horImgScrBlk {
        padding: 10px 0;
    }
    .meeting-blk {
        border-bottom: 0.55px solid #c8c7cc;
        width: 85%;
        padding: 0 20px;
        display: inline-block;
        h2 {
            padding: 5px 0;
            font-weight: bold;
            color: #7F7F7F;
            font-size: 18px;
        }
    }
    .date-blk {
        width: 15%;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        float: left;
    }
    .meeting-list {
        .label-ios {
            margin: 0;
        }
        .list-ios>.item-wrapper:last-child .item-block {
            border: 0;
        }
    }

    .horImgScrBlk {
        overflow-x: scroll;
    }
}